body {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(43, 44, 48);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*color: rgb(200, 200, 200);*/
    color: rgb(255, 255, 255);
}

.content {
    flex-direction: row;
}

.topbunk {
    order: 1;
    text-align: center;
    background-color: rgb(13, 13, 13);
    border-bottom: 0.5px solid rgb(185, 141, 0);
    height: 50px;
    margin: 0;
    padding: 0;
}

.topbunklink {
    text-decoration: none;
    width: 210px;
}

.inline:hover {
    background: rgb(61, 60, 58);
    transition: all .5s ease;
}

.inline {
    display: inline-block;
    margin: 0 auto;
<<<<<<< HEAD
    padding: .95em 0 .95em 0;
=======
    padding: .98em 0 .98em 0;
>>>>>>> fbddf65d05b0f712cd9b35842fa1294ee84cf1d8
    width: 13em;
}

.notfarright {
    border-left: 1px solid rgb(185, 141, 0);
}

.farside {
    border-left: 1px solid rgb(185, 141, 0);
    border-right: 1px solid rgb(185, 141, 0);
}

.MainContentDiv {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.MainContent {
    margin: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 60%;
    /*max-width: 60%;*/
    background-color: rgb(24, 24, 25);
    border: .5px solid rgb(185, 141, 0);
    border-top: none;
    border-radius: 3px;
    height: 100%;
}

.sidebar {
    order: 1;
    border-right: .5px solid rgb(185, 141, 0);
    width: 25%;
}

.barsite {
    margin: 0 auto;
    line-height: 50px;
    border: 1px solid rgb(185, 141, 0);
    border-radius: 90px;
    transition: all .5s ease;
}

.barsite:hover {
    background: rgb(61, 60, 58);
    border-radius: 10px;
}

.barlink {
    text-decoration: dotted underline;
    vertical-align: middle;
}

a {
    color: inherit;
    padding: inherit;
    margin: inherit;
}

.contentbar {
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    order: 2;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}