.takki {
    width: 50%;
    height: 2em;
    border: none;
    font-size: 2em;
    border-radius: 10px;
}

    .takki:hover {
        cursor: pointer;
        background-color: rgb(200, 200, 200);
    }

.skyrsla {
    padding-top: .5em;
    margin: 0 auto;
    width: 90%;
    font-size: 1.5em;
    line-height: 1.25em;
}
